.kcard {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width: 390px;
    margin-top: 15px;
    margin-left: 10px;
    height: auto;
}

.kcard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 14px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.kcard-header span {
    color: #fff;
    font-size: 18px;
}

.kcard-header p {
    color: #fff;
    font-size: 12px;
}

.kcard-header-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.kcard-printer-btn {
  background-color: transparent; 
  border: none;                 
  cursor: pointer;              
  padding: 4px;                  
  display: flex;
  align-items: center;
  justify-content: center;
}

.kcard-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #e2e2e2;
}

.kcard-table {
    color: #1F2937;
    font-size: 16px;
    font-weight: 800;
}

.kcard-items {
    list-style: none;
    padding: 0;
    margin: 13px 16px;
}

.kcard-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.kcard-item-line {
    display: flex;
    flex-direction: row;
}

.kcard-item-qty {
    width: 24px;
    font-weight: bold;
}

.kcard-item-note {
    margin-left: 24px;
    font-size: 12px;
    color: #424242
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
}

.button-row button{
    width: 100%;
}

.kcard-continued {
    color: #424242;
    margin-left: 24px;
    padding-bottom: 6px;
}

.kcard-btn {
  background: #ff7a00;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s ease;
}

.kcard-btn:hover {
    scale: 1.01
}

